.App {
  color: var(--text-primary);
  background-color: var(--background);
  font-size: large;
  font-weight: bold;
  transition: all 0.5s;
}
button {
  color: var(--text-primary);
  background-color: var(--background);
  border: 2px var(--text-primary) solid;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  display: flex;
  margin:5px auto;
}
.pokemonContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: auto;
}
h2,
p {
  margin: 0;
}
ul {
  list-style-type: none;
  flex-wrap: wrap;
  display: flex;
  margin: auto;
  justify-content: center;
  padding: 30px;
  overflow: hidden;
}

img {
  display: flex;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 30px auto;
}

li {
  width: 200px;
  height: 200px;
  border: 2px solid rgb(121, 121, 131);
}
li:hover {
  background: rgb(121, 121, 131);
}
li a {
  display: block;
  text-align: center;
  color: var(--text-primary);
  text-decoration: none;
}
.App-header {
  background-color: #282c34;
  color: var(--text-primary);
  height: 50px; 
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 10px;
  font-size: calc(10px + 2vmin);
}
.pokemonCard {
  display: block;
  width: 200px;
  height: 250px;
  border: 2px solid grey;
  text-align: center;
  margin: 30px auto;
}
.App-header h1 {
  margin: 0;
}
